:root {
  --grid-x: 25;
  --grid-y: 25;
  --input-size: 25px;
  --primary-color: #2a9d8f;
  --secondary-color: #f4a261;
  --text-color: #e9c46a;
  --link-color: #e76f51;

  --backgrond-color: #141519;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--backgrond-color);
  min-height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#form {
  display: flex;
}

#grid {
  margin: 1rem auto;
}

.fixed {
  display: grid;
  grid-template-columns: repeat(var(--grid-x), var(--input-size));
  /* grid-template-rows: repeat(var(--grid-y), var(--input-size)); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
}

.player {
  pointer-events: none;
  position: absolute;
  background-color: var(--link-color);
  color: #fff;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  font-size: 0.8rem;

  padding: 0.2rem 0.5rem;
  transition: all 100ms;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

input[type="checkbox"] {
  float: left;
  accent-color: var(--primary-color);
  border: none;
  outline: none;
  width: var(--input-size);
  height: var(--input-size);
  margin: 1px;
}
